

<div class="column">
  <div class="ui divider"></div>
  <div class="ui action left icon input">
    <i class="search icon"></i>
    <input type="text" #search
           (keyup.enter)="makeSearch(search.value)"
           id="search" name="search" placeholder="Search...">
    <div class="ui teal button" (click)="makeSearch(search.value)">Search</div>
  </div>

  <div class="ui divider"></div>

  <div *ngFor="let result of results">
    <div class="ui card">
      <div class="image">
        <img [src]="result.imageUrl.url">
      </div>
      <div class="content">
        <a class="header">{{result.name}}</a>
        <div class="description">
          {{result.id}}
        </div>
      </div>
    </div>
  </div>
</div>

